$app-bg: #f6f7fb;
$body-color: #888da8;

$main-nav-color: #888da8;
$nav-color: #888da8;
$nav-color-hover: #33cabb;

$border-color: #e6ecf5;

$navbar-padding-right: 15px;

$enable-shadows: true !default;

$fa-font-path: "/web/fonts" !default;
