<script type="text/ecmascript-6">
  export default {
    props: ['disabled', 'loading']
  };
</script>

<template>
  <button type="submit" :disabled="disabled">
    <span v-if="loading">
      <i class="fa fa-spinner"></i>
    </span>
    <slot/>
  </button>
</template>
