<script type="text/ecmascript-6">
  import Layout from '../components/Layout/MainLayout';
  import MainFooter from '../components/Layout/MainFooter';
  import WriteCardModal from '../components/Modal/WriteCardModal';
  import { mapGetters } from 'vuex';
  import {
    CARD_WRITTEN,
    CHANGE_SCANNER_STATE,
    GET_CURRENT_SESSION,
    SCANNER_STATE_CHANGED
  } from '../store/mutation-types';
  import ApiService from '../services/Api';

  export default {
    data() {
      return {
        scans: [],
        selected: null,
        interval: null,
        reading: false
      };
    },

    components: {
      Layout,
      MainFooter,
      WriteCardModal
    },

    computed: {
      ...mapGetters([
        'currentSession',
        'cardWritten'
      ])
    },

    methods: {
      select: function(item) {
        if (this.selected !== null && this.selected.id === item.id) {
          this.selected = null;

          return;
        }

        this.selected = item;
      },

      getPreviousTags() {
        ApiService.setHeader();
        ApiService.post('/control/sessiontags', {
          sessionid: this.currentSession.Id
        }).then((response) => {
          this.scans = response.data.Data;
        });
      },

      load() {
        ApiService.setHeader();
        ApiService.get('/control/read').then((response) => {
          this.scans.push(response.data.Data);

          if (this.reading === true) {
            this.load();
          }

        }).catch(() => {

          if (this.reading === true) {
            this.load();
          }
        });
      },

      start() {
        ApiService.setHeader();
        ApiService.post('/control/startsession', {
          sessionid: this.currentSession.Id
        }).then((response) => {
          if (parseInt(response.data.Code) !== 0) {
            // Error
            return;
          }

          this.$store.dispatch(CHANGE_SCANNER_STATE, {
            state: 'Reading'
          }).then(() => {
            this.$store.commit(SCANNER_STATE_CHANGED, 'Reading');
          });

          this.reading = true;
          this.load();
          // this.interval = setInterval(function() {
          //   this.load();
          // }.bind(this), 25000);
        });
      },

      end() {
        this.$store.dispatch(CHANGE_SCANNER_STATE, {
          state: 'Idle'
        }).then((response) => {
          this.$store.commit(SCANNER_STATE_CHANGED, 'Idle');
        });
        ApiService.setHeader();
        ApiService.post('/control/endsession').then(() => {
          this.reading = false;
        });
      },

      closeAlert() {
        this.$store.commit(CARD_WRITTEN, false);
      }
    },

    mounted() {
      if (this.currentSession === null) {
        this.$router.push({ name: 'sessions' });

        return;
      }
      document.title = 'RIPR - Dashboard';

      this.getPreviousTags();
    },

    beforeDestroy() {
      if (this.reading === true) {
        this.reading = false;
      }
    }
  };
</script>

<template>
  <layout>
    <div v-if="cardWritten" class="alert alert-info">
      <button v-on:click="closeAlert" class="btn btn-sm">
        <i class="fa fa-times"></i>
      </button>
      {{ cardWritten }}
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Card Type</th>
        <th>Bits Count</th>
        <th>Added Time</th>
        <th>
          <button v-if="reading" v-on:click="end" type="button" class="btn btn-default btn-sm float-right">End Audit
          </button>
          <button v-else v-on:click="start" type="button" class="btn btn-primary btn-sm float-right">Start Audit
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in scans" :key="item.id" v-on:click="select(item)"
          v-bind:class="{ 'selected' : (selected !== null && selected.id === item.id)}">
        <td>{{ item.tag.tagUid }}</td>
        <td>{{ item.tag.cardType }}</td>
        <td>{{ item.tag.bitCount }}</td>
        <td>{{ item.tag.dateAdded | formatDate }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <main-footer :selected="selected"/>

    <write-card-modal :item="selected"/>
  </layout>
</template>
