<script type="text/ecmascript-6">
  import { mapGetters } from 'vuex';
  import { LOGIN, SET_AUTH } from '../store/mutation-types';

  export default {
    data() {
      return {
        data: {
          body: {
            username: '',
            password: ''
          },
          rememberMe: false
        },
        error: null
      };
    },

    mounted() {
      document.title = 'RIPR - Login';
    },

    methods: {
      login() {
        this.$store.dispatch(LOGIN, this.data.body).then((response) => {
          if (parseInt(response.data.Code) !== 0) {
            this.error = response.data.ErrorMessage;
            // Error
            return;
          }

          this.$store.commit(SET_AUTH, response.data.Data);
          this.$router.push({ name: 'sessions' });
        });
      }
    }
  };
</script>

<template>
  <div class="row login">
    <div class="col-md-3">
      <img src="img/logo-head.jpeg" alt="Mad Panda Logo">

      <form v-on:submit.prevent="login">
        <p v-show="error">{{ error }}</p>
        <div class="form-group">
          <input v-model="data.body.username" class="form-control" type="text" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input v-model="data.body.password" class="form-control" type="password" placeholder="Password" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
      </form>
    </div>
  </div>
</template>
