<script type="text/ecmascript-6">
  import Layout from '../components/Layout/MainLayout';
  import NewSessionModal from '../components/Modal/NewSessionModal';
  import {
    CURRENT_SESSION_CHANGED,
    DELETE_SESSION,
    EDIT_SESSION,
    EXPORT_SESSION,
    EXPORT_SESSIONS,
    GET_PREVIOUS_SESSIONS
  } from '../store/mutation-types';

  export default {
    components: {
      Layout,
      NewSessionModal
    },

    data() {
      return {
        sessions: [],
        editing: null,
        export: null
      };
    },

    methods: {
      loadPreviousSessions() {
        this.$store.dispatch(GET_PREVIOUS_SESSIONS).then((response) => {
          this.sessions = response.data.Data.Sessions;
        });
      },
      selectSession(session) {
        this.$store.commit(CURRENT_SESSION_CHANGED, session);
        this.$router.push({ name: 'dashboard' });
      },
      exportSession(session) {
        this.$store.dispatch(EXPORT_SESSION, {
          sessionid: session.Id
        }).then((response) => {
          this.downloadFile(response)
        });
      },
      exportSessions() {
        this.$store.dispatch(EXPORT_SESSIONS).then((response) => this.downloadFile(response));
      },
      destroySession(session, index) {
        this.$store.dispatch(DELETE_SESSION, {
          sessionid: session.Id
        }).then((response) => {
          response = response.data;

          if (parseInt(response.Code) !== 0) {
            // Error
            return;
          }

          this.removeItem(this.sessions, index);
          this.$store.commit(CURRENT_SESSION_CHANGED, null);
        });
      },
      editSession(session) {
        this.editing = session;
      },
      updateSession(session) {
        this.$store.dispatch(EDIT_SESSION, {
          sessionid: session.Id,
          sessionname: session.Name
        }).then((response) => {
          response = response.data;

          if (parseInt(response.Code) !== 0) {
            // Error
            return;
          }
          // ...
        });
        this.editing = null;
      },
      removeItem(item, index) {
        // this.sessions.splice(this.sessions.indexOf(item), 1);
        this.sessions.splice(index, 1);
      },
      isEditing(item) {
        return this.editing !== null && this.editing.Id === item.Id;
      },
      downloadFile(response) {
        let blob = new Blob([response.data], {
          type: response.headers['content-type']
        });

        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(blob);
          return;
        }

        const data = window.URL.createObjectURL(blob);
        let link = document.createElement('a');
        link.style = 'display: none';
        link.href = data;
        link.download = 'Export.csv';

        window.open(data);
        document.body.appendChild(link);
        link.click();

        setTimeout(() => {
          document.body.removeChild(link);
          window.URL.revokeObjectURL(data);
        }, 100);

      }
    },

    mounted() {
      document.title = 'RIPR - Previous Audits';

      this.loadPreviousSessions();
    }
  };
</script>

<template>
  <layout>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Audit Date</th>
        <th class="text-right">
          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#newSessionModal">New Session</button>
          <button @click="exportSessions" class="btn btn-default btn-sm">Export Sessions</button>
          <a v-if="this.export" href="this.export.link">Download</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in sessions" :key="item.Id">
        <td v-if="isEditing(item)">
          <input v-model="item.Name" type="text" placeholder="New name" class="form-control">
        </td>
        <td v-else>{{ item.Name }}</td>
        <td>{{ item.AuditDate | formatDate }}</td>
        <td class="text-right">
          <div role="group" class="btn-group">
            <button v-if="isEditing(item)" @click="updateSession(item)" class="btn btn-info btn-sm">Save</button>
            <button v-else @click="selectSession(item)" class="btn btn-primary btn-sm">Show</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu">
              <a @click="exportSession(item)" class="dropdown-item">Export</a>
              <a @click="editSession(item)" class="dropdown-item">Edit</a>
              <div class="dropdown-divider"></div>
              <a @click="destroySession(item, index)" class="dropdown-item">Remove</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <new-session-modal></new-session-modal>
  </layout>
</template>
