<script type="text/ecmascript-6">
  import { INITIALIZE_APP, SET_AUTH, SETUP_FINISHED } from '../store/mutation-types';

  export default {
    data() {
      return {
        data: {
          body: {
            username: '',
            password: '',
            repeatPassword: ''
          }
        },
        error: null
      };
    },

    mounted() {
      document.title = 'RIPR - Setup';
    },

    methods: {
      handle() {
        this.$store.dispatch(INITIALIZE_APP, this.data.body).then((response) => {
          if (parseInt(response.data.Code) === 1) {
            this.data.error = response.data.ErrorMessage;

            return;
          }
          this.$store.commit(SET_AUTH, response.data.Data);
          this.$store.commit(SETUP_FINISHED, true);
          this.$router.push({ name: 'sessions' });
        });
      }
    }
  };
</script>

<template>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Setup Account Credentials</h1>

      <form v-on:submit.prevent="handle">
        <p v-if="error" class="alert alert-danger">{{ error }}</p>
        <div class="form-group">
          <input v-model="data.body.username" class="form-control" type="text" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input v-model="data.body.password" class="form-control" type="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <input v-model="data.body.repeatPassword" class="form-control" type="password" placeholder="Confirm Password"
                 required>
        </div>
        <input type="submit" class="btn btn-primary" value="Register">
      </form>
    </div>
  </div>
</template>
