<script type="text/ecmascript-6">
  import Layout from '../components/Layout/MainLayout';
  import JwtService from '../services/Jwt';

  export default {
    components: {
      Layout
    },

    mounted() {
      JwtService.destroyAll();
    }
  };
</script>

<template>
  <div style="display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column;">
    <h1>The RIPR is shutting down, wait for the LEDs to turn off.</h1>
    <p>You will be disconnected from the hotspot shortly.</p>
  </div>
</template>
