footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: .5rem 1rem;

  .buttons {
    flex: 2 0 0;
  }

  .state {
    flex: 2 0 0;
  }

  .state {
    display: flex;
    flex-direction: row;

    .actions {
      min-width: 50px;

      //.fa-toggle-on {
      //  color: $green;
      //}

      //.fa-toggle-off {
      //  color: $red;
      //}
    }

    .current-state {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: map_get($grid-breakpoints, 'md')) {

  footer {

    .buttons {
      flex: 1;

      button {
        width: 100%;
      }
    }

    .state {
      flex: 1;
    }
  }

}
