.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -1rem;
  text-align: center;

  img {
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
