.page-header {

}

@media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
  .page-header {
    display: flex;
    justify-content: stretch;
  }

  h1 {
    flex: 2 0 0;
  }

  .nav {
    flex: 2 0 0;
    justify-content: flex-end;
    margin-right: 40px;
  }
}



@media screen and (max-width: map_get($grid-breakpoints, 'md')) {
  .page-header {
    //display: flex;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    padding: .5rem;
  }
}

@media screen and (max-width: map_get($grid-breakpoints, 'md')) {
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
