.table {
  max-height: 180px;
  overflow: visible;
  margin-bottom: 100px;

  .selected {
    background-color: #01567c;
  }
}

.alert {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
