<script type="text/ecmascript-6">
  import { mapGetters } from 'vuex';
  import ShutdownModal from '../Modal/ShutdownModal';
  import { GET_CURRENT_SESSION, LOGOUT, PURGE_AUTH } from '../../store/mutation-types';

  export default {
    components: { ShutdownModal },
    computed: {
      ...mapGetters({
        currentSession: GET_CURRENT_SESSION
      })
    },
    methods: {
      signOut() {
        this.$store.dispatch(LOGOUT).then(() => {
          this.$store.commit(PURGE_AUTH);
          this.$router.push({ name: 'login' });
        });
      }
    }
  };
</script>

<template>
  <div>
    <button class="btn btn-shutdown" data-toggle="modal" data-target="#shutdownModal"><i class="fa fa-power-off"></i>
    </button>
    <div class="page-header">
      <h1>RIPR</h1>
      <ul class="nav">
        <li v-if="currentSession" class="nav-item">
          <router-link :to="{ name: 'dashboard' }" class="nav-link">Current Session: {{ currentSession.Name }}
          </router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'sessions' }" class="nav-link">Audits</router-link>
        </li>
        <li class="nav-item"><a v-on:click="signOut" href="#" class="nav-link">Logout</a></li>
      </ul>
    </div>

    <shutdown-modal/>
  </div>
</template>
