<script type="text/ecmascript-6">
  import MainHeader from './MainHeader';

  export default {
    components: {
      MainHeader
    }
  };
</script>

<template>
  <div>
    <main-header></main-header>
    <slot/>
  </div>
</template>
