<script type="text/ecmascript-6">
  import { mapGetters, mapActions } from 'vuex';
  import {
    CHANGE_SCANNER_STATE,
    GET_SCANNER_STATE,
    SCANNER_STATE,
    SCANNER_STATE_CHANGED
  } from '../../store/mutation-types';

  export default {
    props: ['selected'],

    data() {
      return {
        previousState: null
      };
    },

    computed: {
      ...mapGetters({
        state: SCANNER_STATE
      })
    },

    created() {
      this.$store.dispatch(GET_SCANNER_STATE);
    },

    methods: {
      changeState: function(state) {
        this.previousState = this.state;

        this.$store.dispatch(CHANGE_SCANNER_STATE, {
          state
        }).then((response) => {
          if (parseInt(response.data.Code) !== 0) {
            return;
          }
          this.$store.commit(SCANNER_STATE_CHANGED, state);
        });
      }
    },

    mounted() {
      window.$('#writeModal').on('hidden.bs.modal', () => {
        this.changeState(this.previousState);
      });
    }
  };
</script>

<template>
  <footer>
    <div class="state">
      <div class="current-state">
        {{ state }}
      </div>
    </div>
    <div class="buttons">
      <button v-on:click="changeState('Writing')" v-if="selected" class="btn btn-primary" data-toggle="modal"
              data-target="#writeModal">
        Write
      </button>
      <button v-else class="btn btn-primary" disabled>Write</button>
    </div>
  </footer>
</template>
