<script type="text/ecmascript-6">
  import { CREATE_SESSION, CURRENT_SESSION_CHANGED } from '../../store/mutation-types';
  import DefaultButton from '../Button/Default';

  export default {
    components: { DefaultButton },
    data() {
      return {
        data: {
          name: ''
        },
        disabled: false,
        error: null
      };
    },
    methods: {
      createSession() {
        this.error = null;
        this.disabled = true;
        this.$store.dispatch(CREATE_SESSION, this.data.name).then((response) => {
          response = response.data;
          if (parseInt(response.Code) !== 0) {
            this.error = response.ErrorMessage;

            return;
          }

          window.$('#newSessionModal').modal('hide');

          this.$store.commit(CURRENT_SESSION_CHANGED, {
            Id: response.Data.SessionId,
            Name: this.data.name
          });
          this.$router.push({
            name: 'dashboard'
          });
        });
        this.disabled = false;
      }
    }
  };
</script>

<template>
  <div class="modal fade" id="newSessionModal" tabindex="-1" role="dialog" ref="newSessionModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Start a new session</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div v-if="error" class="alert alert-danger">{{ error }}</div>
          <input v-model="data.name" type="text" class="form-control" placeholder="Name" required>
        </div>
        <div class="modal-footer">
          <default-button v-on:click.native="createSession" class="btn btn-primary" :disabled="this.disabled">Create
          </default-button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
