<script type="text/ecmascript-6">
  import ApiService from '../../services/Api';

  export default {
    methods: {
      shutdown() {
        ApiService.setHeader();
        ApiService.single('control/shutdown').then(() => {
          window.$('#shutdownModal').modal('hide');
          this.$router.push({
            path: 'shutdown'
          });
        });
      }
    }
  };
</script>

<template>
  <div class="modal fade" id="shutdownModal" tabindex="-1" role="dialog" ref="shutdownModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Shutdown</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" v-on:click="shutdown">Shutdown</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
