<script type="text/ecmascript-6">
  import ApiService from '../../services/Api';
  import DefaultButton from '../Button/Default';
  import { CARD_WRITTEN } from '../../store/mutation-types';

  export default {
    components: { DefaultButton },
    props: ['item'],

    data() {
      return {
        disabled: false,
        writing: false,
        error: null,
        modalMessage: null,
      };
    },

    mounted() {
      window.$('#writeModal').on('show.bs.modal', () => {
        this.modalMessage = "Please hold the tag against the writer.";
      });
    },    

    methods: {
      waitForResponse() {
        this.error = null;
        ApiService.setHeader();
        ApiService.get('/control/writestatus').then((response) => {
          this.disabled = false;

          this.$store.commit(CARD_WRITTEN, response.data.Data);

          window.$('#writeModal').modal('hide');
        }).catch(() => {
          if (this.writing === true) {
            this.waitForResponse();
          }
        });
      },

      writeCard(item) {
        window.$('#writeModal').modal({
          backdrop: 'static',
          keyboard: false
        });

        this.modalMessage = "Writing...";

        this.disabled = true;

        setTimeout(() => {
          this.waitForResponse();

          ApiService.setHeader();
          ApiService.post('/control/write', {
            tagid: item.id
          }).then((response) => {
            response = response.data;
            if (parseInt(response.Code) !== 0) {
              this.error = response.ErrorMessage;

              return;
            }
          }).catch(() => {
            this.disabled = false;
          });
        }, 1000);
      },

      beforeDestroy() {
        this.writing = false;
      }
    }
  };
</script>

<template>
  <div class="modal fade" id="writeModal" tabindex="-1" role="dialog" ref="writeModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div v-if="error" class="alert alert-danger">{{ error }}</div>
          <p>{{ modalMessage }}</p>
        </div>
        <div class="modal-footer">
          <default-button v-on:click.native="writeCard(item)" class="btn btn-primary" :disabled="this.disabled">Write
          </default-button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
